/utils/__pycache__
/.idea
/car_rental_system/.idea
/car_rental_system/__pycache__


# Ignore PyCharm settings
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
